<!doctype html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">PET FINDER</a>

    <ul>
        <li class="pure-menu-selected"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

	
    </ul>
</div>
<hr>
<br>
<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-2-5">
      <font face="NewSans">
      Welcome to Leslie & Kyler's project.  Search for adoptable pets on the home page and then browse the results and get more info!<br><br><b>Give an Animal a Home!</font> </div>
    

      

 <div class="pure-u-2-5">
  
      <img align="center"  src="https://38.media.tumblr.com/60d4de356cffa4baa4fe36b030f80a99/tumblr_nbg8m7ycKA1r03eaxo1_400.gif">
