<!doctype html>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">PET FINDER</a>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

	
    </ul>
</div>
<hr>
<br><br><br>

<form class="pure-form"  method="POST" align="center">
  <fieldset>
    <legend> Get Directions {% if error %} (Make Sure Address is Correct!) {% endif %}</legend>
        <input type="text" class="pure-input-1-2" placeholder="Where you at?" name="address" required>
       <br><br>
	<button type="submit" class="pure-button pure-input-1-2 pure-button-primary" name="b" value="submit">Go!</button>
	</fieldset>
</form>
