<!doctype html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">PET FINDER</a>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

	
    </ul>
</div>

<hr>

<br><br><br><br><br><br>
<center>
<h1>
Sorry, there are no animals that fit the criteria :( <br>
Make sure that you are using a valid zip code and that the breed is spelled correctly<br>
Change it up a bit and try again!<br><br>
<button class="pure-button pure-input-1-2 pure-button-primary"><a href="/">Back to Search</a></button>
<h1>

